/* USER ADDED CSS */
#NameTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    text-shadow: -1px 0px #FBC6CA;
    color: #EE1B29;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}

h1.defaultTitleText{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    text-shadow: -1px 0px #B1ACAF;
    color: #1C221F;
}

div.aboutMeText{
    position: absolute;
    width: 70%;
    padding: 5% 2.5% 5% 2.5%;
}

div.about-text-section{
    width: 70%;
    text-align: center;
    padding: 5%;
}

.nameText{
    color: #ff2e00;
}

div.titleDiv{
    background-color: #FFFFFF;
    align-content: center;
    height: 100%;
}

div.titleText{
    display: table;
    margin: 20% auto;
}

div.myWorkDiv{
    background-color: #EFEEEF;
}

div.Bouncing-Arrow{
    position: absolute;
    bottom: 10px;
    text-align: center;
}

#arrow-img{
    max-height: 35px;
    max-width: 55px;
    resize: both;
}

/* About Page CSS*/
div.About-Container{
    position: fixed;
    padding-top: 200px;
    width: 100%;
}

#about-horizontal-container{
    visibility: hidden;
    background-image: url(Assets/BW-Fence.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#about-header{
    max-width: 60%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.about-header-text{
    color: #FFFFFF;
    font-weight: 800;
}

.about-body-text{
    color: #FFFFFF;
}

.experience-container{
    max-width: 60%;
    padding-left: 5%;
}

#experience-header-text{
    color: #FFFFFF;
    font-weight: 800;
}

#experience-card-container{
    padding-top: 5px;
    padding-left: 8%;
}

.experience-parent-container{
    width: fit-content;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%
}

.experience-card-title-box{
    width: fit-content;
    min-width: 200px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 4px, #FFFFFF;
    vertical-align: middle;
}



.experience-card-header-text{
    color: #FFFFFF;
    font-size: larger;
    font-weight: 500;
    padding-top: 5px;
    padding-right: 10px;;
}

.experience-card-date-text{
    padding-top: 2px;
    color: #FFFFFF;
    padding: 0px;
    font-size: smaller;
}

.experience-card-body{
    padding-left: 10px;
    height: inherit;
}

.experience-card-body-text{
    color: #FFFFFF;
    padding: 0px;
    font-size: small;
}

.experience-card-body-text:hover,
.experience-card-body-text:hover:after,
.experience-card-body-text:hover:before,
.experience-card-body-text:hover i,
.experience-card-body-text:hover span {
    border-color:red !important
}

#skill-section-header{
    color: #FFFFFF;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    max-width: 60%;
}

.skill-card{
    border-radius: 5px;
    height: 200px;
    width: 25%;
    margin-left: 8%;
}

.skill-card-header-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: medium;
}

.skill-card-text{
    color: #FFFFFF;
    font-weight: 200;
    font-size: small;
}

.resume-button, .resume-button:visited{
    text-decoration: none;
    background: none;
    border: none;
    color: #ff2e00;
}

.resume-button:hover{
    text-decoration: underline;
}
/*-------------------*/

.bounce{
    animation: bounce 2s infinite;
}

@keyframes swoosh-in {
    0% {transform: translateX(-100px);}
    20% {transform: translateX(-80px);}
    40% {transform: translateX(-60px);}
    60% {transform: translateX(-40px);}
    80% {transform: translateX(-20px);}
    100% {transform: translateX(0px);}

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Projects Page */
div.project-card-container{
    padding: 5%;
}

div.project-card{
    min-width: 25vw;
    min-height: 30vh;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.3);
    transition: 0.3s;
}

#Church-Admin-Card{
    background: -webkit-linear-gradient(135deg, #9bafd9, #103783);
}

#Project-Header-Container{
    text-align: center;
    width: 100vw;
    height: 15vh;
    background-image:
            linear-gradient(to top right, transparent 50%, black 0),
            linear-gradient(to bottom right, black 50%, transparent 0);
    background-size: 50% 100%;
    background-position: left, right;
    background-repeat: no-repeat;
}

#Project-Header{
    margin: auto;
    color: white;
    padding-top: 2%;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 0px 2px #EE1B29;
}

.project-skill-container{
    width: 90vw;
    height: 70%;
    margin: 4% auto auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#skill-section-left{
    height: 100%;
    text-align: center;
    background-color: #EE1B29;
    border-radius: 10px;
}

#skill-section-middle{
    height: 100%;
    text-align: center;
    background-color: #EE1B29;
    border-radius: 10px;
}

#skill-section-right{
    height: 100%;
    text-align: center;
    background-color: #EE1B29;
    border-radius: 10px;
}
.skill-icon{
    padding: 6%;
    max-width: 125px;
}

.skill-header{
    color: white;
    font-size: larger;
    border-bottom: solid 1px white;
    width: 80%;
    padding-bottom: 10px;
    margin: 2% auto;
}
/*---------------*/
#text1,
#text2 {
    position: absolute;
    color: #ff2e00;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    padding-left: 8px;
}

@media screen and (max-width: 750px){
    .experience-card-title-box{
        border: none;
    }
    .titleText{
        position: absolute;
        bottom: 35vh;
    }
    .defaultTitleText, .nameText{
        font-size: 34px;
    }
}

@media screen and (max-width: 1350px){
    #about-horizontal-container{
        background-image: none;
        background-color: black;
    }
    #about-header{
        max-width: 99%;
    }
}
